<div class="visage-config-pane">
    <p class="visage-notes">
        The default name and image are automatically managed. They are sourced from the token's primary settings in the <strong>Identity</strong> and <strong>Appearance</strong> tabs. If you manually change either the name or image on those tabs and update the token, the changes will be reflected below when you next view the token configuration.
    </p>

    <div class="visage-defaults-grid">
        <div class="form-group">
            <label>Default Token Name</label>
            <div class="form-fields">
                <span class="visage-readonly-field">{{defaultTokenName}}</span>
            </div>
        </div>

        <div class="form-group">
            <label>Default Token Image</label>
            <div class="form-fields">
                <span class="visage-readonly-field">{{defaultToken}}</span>
            </div>
        </div>
    </div>
    
    <fieldset class="visage-config-fieldset">
        <legend>Universal Alternate Visages</legend>
        <p class="visage-notes">If this token is linked to an actor then these visages will be available to all tokens of that actor.</p>
        <ol class="visage-list">
            {{#each visages}}
            <li class="flexrow">
                <input type="text" name="visage-key" value="{{this.key}}" placeholder="Visage Name (e.g. Wolf)" />
                <div class="form-fields" style="flex: 2;">
                    <input type="text" name="visage-path" value="{{this.path}}" placeholder="path/to/image.webp" />
                    <button type="button" class="file-picker-button"><i class="fas fa-file-import fa-fw"></i></button>
                </div>
                <a class="visage-delete"><i class="fas fa-trash"></i></a>
            </li>
            {{/each}}
        </ol>

        <div class="flexrow visage-config-button">
            <button class="visage-add"><i class="fas fa-plus"></i> Add Visage</button>            
        </div>
        <div class="flexrow visage-config-button">
            <button class="visage-save"><i class="fas fa-save"></i> Save Changes</button></div>
    </fieldset>
</div>