<div class="visage-selector-header">
    <h3>Choose Visage</h3>
</div>
<div class="visage-selector-grid-wrapper">
    <div class="visage-selector">
        {{#each forms}}
        <div class="visage-tile {{#if this.isActive}}active{{/if}}" data-form-key="{{this.key}}">
            <img src="{{this.resolvedPath}}" alt="{{this.name}}"/>
            <span>{{this.name}}</span>
            {{#if this.isActive}}
            <div class="visage-chip">
                <img src="modules/visage/icons/check_circle.svg" alt="Active"/>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>