<div class="tab" data-tab="triggers" data-group="primary">
    <div class="empty-placeholder">
        <i class="visage-icon wand-stars"></i>
        <p>Coming Soon in v4: Automation Engine</p>
    </div>
</div>